<!DOCTYPE html>
<html>
  <head>
    <title>Reversi</title>
  </head>
  <body>
    <script type="text/javascript" src="/tablero.js"></script>
    <script type="text/javascript" src="/inicio.js"></script>
  </body>
</html>